name: Build openspm

on:
  push:
    branches: [ "dev" ]
  pull_request:
    branches: [ "dev" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            cmake \
            build-essential \
            pkg-config \
            libzstd-dev \
            libarchive-dev

      - name: Configure CMake
        run: |
          cmake -S . -B build \
            -DCMAKE_BUILD_TYPE=Debug

      - name: Build
        run: |
          cmake --build build --config Release --parallel

      - name: Run tests
        run: |
          cd build
          ctest --output-on-failure
        continue-on-error: true

      - name: Upload openspm binary
        uses: actions/upload-artifact@v4
        with:
          name: openspm-linux
          path: build/openspm
