name: Build openspm

on:
  push:
    branches: [ "dev" ]
  pull_request:
    branches: [ "dev", "main" ]

jobs:
  build:
    runs-on: arc-runner-set

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            gcc \
            g++ \
            g++-10 \
            libstdc++-10-dev \
            cmake \
            build-essential \
            pkg-config \
            libzstd-dev \
            libarchive-dev \
            libssl-dev \
            doxygen \
            graphviz

      - name: Configure CMake
        run: |
          cmake -S . -B build \
            -DCMAKE_BUILD_TYPE=Debug \
            -DGIT_COMMIT_HASH=$(git rev-parse HEAD)

      - name: Build
        run: |
          cmake --build build --config Debug --parallel

      - name: Run tests
        run: |
          cd build
          ctest --output-on-failure

      - name: Upload openspm binary
        uses: actions/upload-artifact@v4
        with:
          name: openspm-linux
          path: build/openspm
  build-windows:
    runs-on: windows-latest
    permissions:
      contents: read
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install Conan
        run: |
          pip install conan
          conan profile detect --force
        shell: pwsh

      - name: Install dependencies
        run: |
          conan install . --output-folder=build --build=missing -s build_type=Debug
        shell: pwsh

      - name: Configure CMake
        run: |
          cmake -S . -B build `
            -DCMAKE_BUILD_TYPE=Debug `
            -DCMAKE_TOOLCHAIN_FILE="build/conan_toolchain.cmake" `
            -DOPENSPM_BUILD_DOCS=OFF -Wno-dev `
            -DGIT_COMMIT_HASH=$(git rev-parse HEAD)
        shell: pwsh

      - name: Build
        run: |
          cmake --build build --config Debug --parallel
        shell: pwsh

      - name: Run tests
        run: |
          cd build
          ctest -C Debug --output-on-failure
        shell: pwsh

      - name: Upload openspm binary
        uses: actions/upload-artifact@v4
        with:
          name: openspm-windows
          path: build/Debug/openspm.exe